---
import { Layout as LayoutComponent } from "~/components/layout/Layout";

import AstroPageShell from "./AstroPageShell.astro";
---

<AstroPageShell
  canonical={true}
  meta={{
    description: "Test page for navigation menu testing",
  }}
  openGraph={false}
  title="Test Page"
>
  <LayoutComponent hasBackdrop={false}>
    <div>Test content for navigation menu testing</div>
  </LayoutComponent>
</AstroPageShell>
