---

---

<nav-drawer>
  <button
    aria-controls="nav-drawer"
    aria-expanded="false"
    aria-label="Toggle navigation drawer"
    class={`
      group/button relative ml-2 flex size-10 cursor-pointer items-center
      justify-center
    `}
    data-nav-drawer-toggle
    type="button"
  >
    <svg
      class={`
        size-8
        group-hover/button:text-accent
      `}
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </button>
  <dialog
    aria-label="Main navigation"
    class={`
      group/dialog fixed top-0 right-0 left-auto m-0 size-full
      max-h-full max-w-[300px] translate-x-full overflow-y-auto border-0
      bg-footer p-0 pt-20 pr-[16%] pb-5 pl-[12%] text-left text-white
      drop-shadow-2xl transition-all transition-discrete duration-600
      ease-in-out
      backdrop:bg-[#000] backdrop:opacity-0 backdrop:transition-opacity
      backdrop:transition-discrete backdrop:duration-200
      open:translate-x-0
      open:backdrop:opacity-40
      tablet:max-w-[35vw] tablet:gap-y-10 tablet:px-10 tablet:pt-40
      laptop:max-w-[25vw] laptop:px-16
      starting:open:transform-[translateX(100%)]
      starting:open:backdrop:opacity-0
    `}
    data-nav-drawer
    id="nav-drawer"
  >
    <button
      aria-label="Close navigation"
      class={`
        absolute top-4 right-(--container-padding) flex size-10 rotate-0
        transform-gpu cursor-pointer items-center justify-center rounded-full
        transition-[rotate] delay-300 duration-200
        hover:text-accent
        tablet:top-6
        laptop:top-8 laptop:right-16
        group-open/dialog:starting:rotate-45
      `}
      data-nav-close-trigger
      type="button"
    >
      <svg
        aria-hidden="true"
        class={`size-8`}
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 18 18 6M6 6l12 12"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
    <nav
      class={`
        flex translate-x-0 flex-col gap-y-6 opacity-0 transition-all
        transition-discrete delay-50 duration-600
        group-open/dialog:opacity-100
        group-open/dialog:starting:transform-[translateX(100%)]
        group-open/dialog:starting:opacity-0
      `}
    >
      <slot />
    </nav>
  </dialog>
</nav-drawer>

<script src="./navDrawer.ts"></script>
