---

---

<nav-drawer>
  <button
    aria-controls="nav-drawer"
    aria-expanded="false"
    aria-label="Toggle navigation drawer"
    class={`
      group/button relative z-nav-toggle ml-2 flex size-10 transform-gpu
      cursor-pointer items-center justify-center transition-all duration-500
    `}
    data-nav-drawer-toggle
    type="button"
  >
    <span
      aria-hidden="true"
      class={`
        relative flex h-0.5 w-6 origin-center transform-gpu bg-current
        transition-all duration-200 ease-in-out
        group-hover/button:bg-accent
        before:absolute before:-top-2 before:block before:h-0.5 before:w-6
        before:bg-inherit before:transition before:duration-200
        before:ease-in-out
        after:absolute after:-bottom-2 after:block after:h-0.5 after:w-6
        after:bg-inherit after:transition after:duration-200 after:ease-in-out
      `}></span>
  </button>
  <dialog
    aria-label="Main navigation"
    class={`
      group/dialog fixed top-0 right-0 left-auto m-0 size-full max-h-full
      translate-x-full overflow-y-auto border-0 bg-footer p-0 pt-20 pr-[16%]
      pb-5 pl-[12%] text-left text-white opacity-0 drop-shadow-2xl
      transition-[translate,opacity,overlay,display] transition-discrete
      duration-200 ease-in-out
      backdrop:bg-[#000] backdrop:opacity-0 backdrop:transition-opacity
      backdrop:transition-discrete backdrop:duration-200
      open:translate-x-0 open:opacity-100
      open:backdrop:opacity-40
      tablet:max-w-[35vw] tablet:gap-y-10 tablet:px-10 tablet:pt-40
      laptop:max-w-[25vw]
      starting:open:translate-x-full starting:open:opacity-0
      starting:open:backdrop:opacity-0
    `}
    data-nav-drawer
    id="nav-drawer"
  >
    <button
      aria-label="Close navigation"
      class={`
        group/close absolute top-4 right-(--container-padding) flex size-10
        cursor-pointer items-center justify-center
        tablet:top-6
        laptop:top-8 laptop:right-16
      `}
      data-nav-close-trigger
      type="button"
    >
      <span
        aria-hidden="true"
        class={`
          relative flex h-0.5 w-6 origin-center transform-gpu bg-white
          transition-all transition-discrete duration-200 ease-in-out
          group-open/dialog:transform-[rotate(45deg)]
          group-hover/close:bg-accent
          before:absolute before:-top-2 before:block before:h-0.5 before:w-6
          before:bg-inherit before:transition before:transition-discrete
          before:duration-200 before:ease-in-out
          group-open/dialog:before:top-0
          group-open/dialog:before:transform-[rotate(90deg)]
          after:absolute after:-bottom-2 after:block after:h-0.5 after:w-6
          after:bg-inherit after:transition after:transition-discrete
          after:duration-200 after:ease-in-out
          group-open/dialog:after:bottom-0
          group-open/dialog:after:transform-[rotate(90deg)]
        `}></span>
    </button>
    <nav class="flex flex-col gap-y-6">
      <slot />
    </nav>
  </dialog>
</nav-drawer>

<script src="./navDrawer.ts"></script>
