---
import Logo from "./Logo.astro";
import SiteHierarchy from "./SiteHierarchy.astro";
---

<footer class="relative">
  <div class="relative z-10 bg-footer text-white">
    <div class="mx-auto max-w-(--breakpoint-laptop) px-container py-20">
      <div
        class={`
          flex w-full flex-col
          tablet:flex-row-reverse tablet:justify-between
        `}
      >
        <a
          class={`
            mx-auto mb-8 w-full max-w-button transform-gpu rounded-md bg-canvas
            py-5 text-center font-sans text-sm font-normal tracking-wide
            text-default uppercase transition-all
            hover:scale-105 hover:bg-default hover:text-default
            hover:drop-shadow-lg
            tablet:mx-0
          `}
          href="#top"
        >
          To the top
        </a>
        <Logo />
      </div>
      <div
        class={`
          justify-between
          tablet:flex
        `}
      >
        <div
          class={`
            flex max-w-160 flex-col pb-12
            tablet:pr-32
          `}
        >
          <div
            class={`
              pt-10 font-sans font-normal text-grey
              [&_a]:underline [&_a]:transition-colors
              [&_a]:hover:text-accent
            `}
          >
            <p
              class={`
                mb-6 text-pretty
                first-letter:float-left first-letter:mt-1.5 first-letter:pr-1
                first-letter:font-sans first-letter:text-[40px]
                first-letter:leading-[.8] first-letter:font-bold
                first-letter:text-white
              `}
            >
              Hi there, I&apos;m Frank, a husband and father old enough to have
              sat wide-eyed during <em>E.T</em>&apos;s first theatrical run.
              Among my friends, I&apos;m the designated &ldquo;movie guy.&rdquo;
              You know the type: First job at a video store. Knows his Hawks
              from his Fords.
            </p>

            <p class="mb-6 text-pretty">
              This site began in 2003 when I got fed up with realizing halfway
              through yet another movie that I&apos;d already seen it. I figured
              writing reviews would help. That, and my ego convinced me more
              than my friends would be interested in my opinions.
            </p>

            <p class="mb-6 text-pretty">
              Twenty-plus years later, I&apos;m still at it. Though my age is
              showing. I no longer realize halfway through movies that I&apos;ve
              seen them before. Now I only discover it when I go to write a
              review and find I already wrote one fifteen to twenty years prior.
              Still, in an era of algorithms and marketing machines, this site
              offers something simpler: one person cataloging cinema, one film
              at a time.
            </p>

            <p class="mb-6 text-pretty">
              New visitors should start with{" "}
              <a href="/how-i-grade/">how I grade</a>. Then browse <a
                href="/reviews/">my reviews</a
              >. Looking for something that flew under the radar? Try my list of{
                " "
              }
              <a href="/reviews/underseen/">underseen gems</a>. Feeling
              righteously contrarian? My{" "}
              <a href="/reviews/overrated/">overrated disappointments</a>.
            </p>

            <p class="mb-6 text-pretty">
              I also keep a{" "}
              <a href="/viewings/">viewing log</a> that tracks everything I watch,
              whether it gets a full review or not, complete with{" "}
              <a href="/viewings/stats/">stats</a>. At my age, remembering what
              I&apos;ve seen is as important as the seeing itself.
            </p>

            <p class="text-pretty">
              Finally, if you&apos;re curious about what&apos;s on my critical
              horizon,{" "}
              <a href="/watchlist/">my watchlist</a> details the films I plan to review
              and why they&apos;ve caught my interest.
            </p>
          </div>
        </div>
        <div
          class={`
            flex grow-0 flex-col gap-20 pt-10 pb-20
            tablet:basis-button tablet:pr-10
          `}
        >
          <SiteHierarchy />
        </div>
      </div>
    </div>
  </div>
  <p
    class={`
      sticky bottom-0 z-0 w-full bg-canvas px-container py-10 text-center
      leading-5 font-normal text-default
    `}
  >
    All reviews by Frank Showalter. All images used in accordance with the{" "}
    <a
      class={`
        relative inline-block pr-4 text-inherit underline underline-offset-3
        transition-colors
        hover:text-accent
      `}
      href="http://www.copyright.gov/title17/92chap1.html#107"
      rel="nofollow"
    >
      Fair Use Law
      <svg
        class="absolute top-0.5 right-0 size-3"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
    .
  </p>
</footer>
