---
import { getBackdropImageProps } from "~/assets/backdrops";

const HeroImageConfig = {
  height: 1350,
  sizes:
    "(min-width: 1220px) 100vw, (min-width: 640px) calc(11.07vw + 1067px), 709px",
  width: 2400,
};

type Props = {
  backdropAlign?: string;
  backdropSlug: string;
  bottomShadow?: boolean;
  breadcrumb?: {
    href: string;
    text: string;
  };
  centerText?: boolean;
  deck: string;
  size?: "default" | "large";
  title: string;
  titleClassNames?: string;
};

const {
  backdropAlign = "object-top",
  backdropSlug,
  breadcrumb,
  centerText = false,
  deck,
  size = "default",
  title,
  titleClassNames,
} = Astro.props;

const defaultSizes =
  "min-h-[400px] tablet:min-h-[640px] laptop:min-h-[clamp(640px,70vh,1350px)]";

const largeSizes = "min-h-[97vh] max-h-[1350px]";

const sizes = size === "large" ? largeSizes : defaultSizes;

const backdropImageProps = await getBackdropImageProps(
  backdropSlug,
  HeroImageConfig,
);
---

<header
  class:list={[
    sizes,
    `
      relative flex w-full flex-col content-start items-center justify-end gap-6
      bg-[#2A2B2A] pt-40 text-white
    `,
  ]}
>
  <img
    class:list={[`absolute inset-0 size-full object-cover`, backdropAlign]}
    {...backdropImageProps}
    {...HeroImageConfig}
    alt=""
    fetchpriority="high"
    loading="eager"
  />
  <div
    class:list={[
      `mx-auto flex w-full max-w-(--breakpoint-desktop)`,
      centerText && "items-center",
    ]}
  >
    <div
      class:list={[
        { "w-full items-center": centerText },
        `
          relative z-above col-start-1 mr-auto flex max-w-(--breakpoint-desktop)
          flex-col px-container pt-6 pb-8
          after:absolute after:top-0 after:left-0 after:z-behind after:size-full
          after:bg-[rgba(0,0,0,0.5)] after:blur-3xl
          tablet:mb-2
          laptop:mb-8
        `,
      ]}
    >
      {
        breadcrumb && (
          <p class="tablet:mb-1">
            <a
              class={`
                relative inline-block font-sans text-sm/relaxed font-bold
                tracking-wide text-accent uppercase transition-all duration-500
                [text-shadow:1px_1px_2px_rgba(0,0,0,.55)]
                after:absolute after:bottom-0 after:left-0 after:h-px
                after:w-full after:origin-center after:scale-x-0 after:bg-accent
                after:transition-transform after:duration-500
                hover:text-accent
                hover:after:scale-x-100
              `}
              href={breadcrumb.href}
            >
              {breadcrumb.text}
            </a>
          </p>
        )
      }
      <h1
        class={titleClassNames ||
          `
            ${centerText ? "text-center" : ""}
            text-[2rem]/10 font-extrabold
            [text-shadow:1px_1px_2px_rgba(0,0,0,.55)]
            tablet:text-4xl
            laptop:text-7xl
          `}
        data-pagefind-weight="10"
      >
        {title}
      </h1>
      <p
        class:list={[
          `
            text-base font-normal text-white
            [text-shadow:1px_1px_2px_rgba(0,0,0,.85)]
            tablet:mt-1
            laptop:text-xl
          `,
          { "text-center": centerText },
        ]}
        set:html={deck}
      />
    </div>
  </div>
</header>
