---
type Props = {
  dropShadow?: boolean;
};

const { dropShadow = false } = Astro.props;
---

<div
  class:list={[
    `
      flex transform-gpu flex-col transition-all duration-500
      has-[a:hover]:text-accent
    `,
    dropShadow &&
      `
        relative [text-shadow:1px_1px_2px_rgba(0,0,0,.55)]
        after:absolute after:top-0 after:left-0 after:size-full
        after:bg-[rgba(0,0,0,.5)] after:blur-3xl
        has-[a:hover]:text-shadow-none
      `,
  ]}
>
  <div
    class=`
          text-[1.375rem]/8 font-normal whitespace-nowrap
          tablet:text-[1.5625rem] z-above
        `
  >
    <a href="/">Frank&apos;s Movie Log</a>
  </div>
  <p class={"w-full pl-px text-sm/4 italic opacity-85"}>by Frank Showalter</p>
</div>
