---
import { toDisplayDate } from "~/utils/toDisplayDate";

type Props = {
  value: Date;
};

const { value } = Astro.props;
---

<div class={`font-sans text-[13px]/4 tracking-prose text-subtle`}>
  {toDisplayDate(value)}
</div>
