---
type Props = {
  stats: {
    label: string;
    value: number;
  }[];
};

const { stats } = Astro.props;
---

<div
  class={`
    flex flex-wrap justify-center gap-6
    desktop:flex-nowrap
  `}
>
  {
    stats.map((stat) => (
      <div
        class={`
          flex size-36 flex-col justify-center rounded-full bg-default
          text-center text-default shadow-all
        `}
      >
        <div
          class="
            text-[1.75rem]/8
            tablet:text-[2rem]
          "
        >
          {stat.value.toLocaleString()}
        </div>{" "}
        <div
          class="
            font-sans text-xxs/6 font-light text-muted
            tablet:text-sm
          "
        >
          {stat.label}
        </div>
      </div>
    ))
  }
</div>
