---
type Props = {
  class?: string;
  currentYear: string;
  linkFunc: (year: string) => string;
  years: readonly string[];
};

const { class: className, currentYear, linkFunc, years } = Astro.props;
---

<nav class:list={[`bg-footer`, className]}>
  <ul
    class={`
      mx-auto flex scrollbar-hidden max-w-(--breakpoint-desktop) snap-x
      overflow-x-auto px-container font-sans text-base font-semibold
      tracking-wide
      laptop:justify-center
    `}
  >
    <li
      class={`
        snap-start text-center
        ${"all" === currentYear ? "text-white" : `text-grey`}
      `}
    >
      {
        "all" === currentYear ? (
          <div
            class={`
              bg-subtle p-4 whitespace-nowrap text-default
              laptop:py-4
            `}
          >
            All-Time
          </div>
        ) : (
          <a
            class={`
              group/all-time block transform-gpu px-4 pt-4 pb-3
              whitespace-nowrap transition-all duration-500
              hover:bg-accent hover:text-white
            `}
            href={linkFunc("all")}
          >
            <span
              class={`
                relative inline-block pb-1
                after:absolute after:bottom-0 after:left-0 after:h-0.5
                after:w-full after:origin-center after:scale-x-0 after:bg-white
                after:transition-transform after:duration-500
                group-hover/all-time:after:scale-x-100
              `}
            >
              All-Time
            </span>
          </a>
        )
      }
    </li>
    {
      [...years]
        .toSorted()
        .reverse()
        .map((year) => {
          return (
            <li
              class={`
                snap-start text-center
                ${year === currentYear ? "text-white" : `text-grey`}
              `}
            >
              {year === currentYear ? (
                <div
                  class={`
                    bg-subtle p-4 text-default
                    laptop:py-4
                  `}
                >
                  {year}
                </div>
              ) : (
                <a
                  class={`
                    group/year block transform-gpu px-4 pt-4 pb-3 transition-all
                    duration-500
                    hover:bg-accent hover:text-white
                  `}
                  href={linkFunc(year)}
                >
                  <span
                    class={`
                      relative inline-block pb-1
                      after:absolute after:bottom-0 after:left-0 after:h-0.5
                      after:w-full after:origin-center after:scale-x-0
                      after:bg-white after:transition-transform
                      after:duration-500
                      group-hover/year:after:scale-x-100
                    `}
                  >
                    {year}
                  </span>
                </a>
              )}
            </li>
          );
        })
    }
  </ul>
</nav>
