---
import { getOpenGraphBackdropSrc } from "src/api/backdrops";
import { Article } from "src/components/Article/Article";
import { getProps } from "src/components/Article/getProps";
import Layout from "src/layouts/Layout.astro";

const slug = "how-i-grade";

const props = await getProps({
  slug,
  deck: `"Should I watch this movie?"`,
});

const openGraphImageSrc = await getOpenGraphBackdropSrc(slug);
---

<Layout
  title={props.title}
  description="The criteria I use to rate movies on this site."
  image={openGraphImageSrc}
  article
>
  <div data-pagefind-body>
    <Article {...props} />
  </div>
</Layout>
