---
import { Article } from "src/components/Article/Article";
import { getProps } from "src/components/Article/getProps";
import Layout from "src/layouts/Layout.astro";

const slug = "how-i-grade";

const props = await getProps({
  slug,
  deck: `"Should I watch this movie?"`,
});
---

<Layout
  title={props.title}
  description="Should I watch this movie?"
  image="/how-i-grade/og.jpg"
  article
>
  <div data-pagefind-body>
    <Article {...props} />
  </div>
</Layout>
