---
import { Article } from "~/components/Article/Article";
import { getProps } from "~/components/Article/getProps";
import Layout from "~/layouts/Layout.astro";

const slug = "how-i-grade";
const deck = `"Should I watch this movie?"`;

const props = await getProps({
  deck,
  slug,
});
---

<Layout article description={deck} title={props.title}>
  <div data-pagefind-body>
    <Article {...props} />
  </div>
</Layout>
