---
import AstroPageShell from "~/astro/AstroPageShell.astro";
import { getLayoutBackdropImageProps } from "~/components/layout/getLayoutBackdropImageProps";
import { Layout } from "~/components/layout/Layout";

const deck = '"Dick Laurent is dead."';
const backdropImageProps = await getLayoutBackdropImageProps("not-found");
---

<AstroPageShell
  canonical={false}
  meta={{ description: deck }}
  openGraph={false}
  title="404: Not Found"
>
  <Layout
    backdrop={{
      centerText: true,
      deck,
      imageProps: backdropImageProps,
      size: "large",
      title: "404 Not Found",
    }}
    className="bg-subtle"
  >
    <span></span>
  </Layout>
</AstroPageShell>
