@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-accent: #0056b3;
  --bg-canvas: #f2f0e8;
  --bg-default: #fff;
  --bg-inverse: rgb(255 255 255 / 75%);
  --bg-progress: #14bd41;
  --bg-stripe: #f7f5f3;
  --bg-subtle: #fafafa;
  --border-accent: #054a93;
  --border-default: #e9e7e0;
  --fg-accent: #0056b3;
  --fg-default: #252525;
  --fg-emphasis: rgb(0 0 0 / 95%);
  --fg-inverse: #fff;
  --fg-muted: rgb(0 0 0 / 65%);
  --fg-subtle: #8e8e8e;
  --gutter-width: 20px;
  --image-filter: initial;
  --page-margin-width: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-accent: #0056b3;
    --bg-canvas: #484745;
    --bg-default: #322f2f;
    --bg-inverse: #322f2f;
    --bg-progress: #379634;
    --bg-stripe: #3c393a;
    --bg-subtle: #373434;
    --border-accent: #499ef8;
    --border-default: #484745;
    --fg-accent: #499ef8;
    --fg-default: rgb(255 255 255 / 75%);
    --fg-emphasis: rgb(255 255 255 / 95%);
    --fg-muted: rgb(255 255 255 / 65%);
    --fg-subtle: rgb(255 255 255 / 60%);
    --image-filter: brightness(0.8) contrast(1.2);
  }
}

@media screen(tablet) {
  :root {
    --gutter-width: 24px;
    --page-margin-width: 48px;
  }
}

@media screen(desktop) {
  :root {
    --gutter-width: 32px;
    --page-margin-width: 64px;
    --header-offset: 93px;
  }
}

@layer base {
  html,
  body {
    height: 100%;
  }

  :root {
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "MercuryTextG1Regular", "Charter", "Iowan Old Style", "Georgia",
      "Cambria", "Times New Roman", "Times", "serif";
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-kerning: normal;
    background-color: var(--bg-canvas);
    color: var(--fg-default);
    font-weight: normal;
  }

  img {
    filter: var(--image-filter);
  }

  @font-face {
    font-family: "MercuryDisplaySemibold";
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src:
      url("/fonts/MercuryDisplay/MercuryDisplaySemibold_normal_normal.woff2")
        format("woff2"),
      url("MercuryDisplay/MercuryDisplaySemibold_normal_normal.woff")
        format("woff");
  }

  @font-face {
    font-family: "MercuryTextG1Regular";
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url("/fonts/MercuryText/MercuryTextG1Regular_normal_normal.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "GothamNarrowMedium";
    font-style: normal;
    font-stretch: condensed;
    font-display: swap;
    src: url("/fonts/Gotham/GothamNarrowMedium_normal_condensed.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "GothamNarrowBold";
    font-style: normal;
    font-stretch: condensed;
    font-display: swap;
    src:
      url("/fonts/Gotham/GothamNarrowBold_normal_condensed.woff2")
        format("woff2"),
      url("Gotham/GothamNarrowBold_normal_condensed.woff") format("woff");
  }

  @font-face {
    font-family: "GothamBook";
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src:
      url("/fonts/Gotham/GothamBook_normal_normal.woff2") format("woff2"),
      url("Gotham/GothamBook_normal_normal.woff") format("woff");
  }

  @font-face {
    font-family: "GothamMedium";
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url("/fonts/Gotham/GothamMedium_normal_normal.woff2") format("woff2");
  }

  /* latin-ext */
  @font-face {
    font-family: "Urbanist";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Urbanist/Urbanist_latin-ext_100 900_italic.woff2")
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Urbanist";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Urbanist/Urbanist_latin_100 900_italic.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Urbanist/Urbanist_latin-ext_100 900_normal.woff2")
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Urbanist/Urbanist_latin_100 900_normal.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
  @font-face {
    font-family: "Source Serif 4";
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url("/fonts/Source-Serif-4/Source-Serif-4_latin-ext_200 900_italic.woff2")
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Source Serif 4";
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url("/fonts/Source-Serif-4/Source-Serif-4_latin_200 900_italic.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
  @font-face {
    font-family: "Source Serif 4";
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url("/fonts/Source-Serif-4/Source-Serif-4_latin-ext_200 900_normal.woff2")
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Source Serif 4";
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url("/fonts/Source-Serif-4/Source-Serif-4_latin_200 900_normal.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-display: swap;
    src: url("/fonts/Open-Sans/Open-Sans_latin-ext_300_800_italic_75_100.woff2")
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-display: swap;
    src: url("/fonts/Open-Sans/Open-Sans_latin_300_800_italic_75_100.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-display: swap;
    src: url("/fonts/Open-Sans/Open-Sans_latin-ext_300_800_normal_75_100.woff2")
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-display: swap;
    src: url("/fonts/Open-Sans/Open-Sans_latin_300_800_normal_75_100.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

@layer components {
  .hamburger-icon {
    /* position: absolute; */
    /* right: -100px;
    top: -100px; */
    z-index: 100;
    /* width: 200px;
    height: 200px; */
    padding: 12px;
    background: transparent;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    box-shadow:
      0 0 0 0 transparent,
      0 0 0 0 transparent;
    cursor: pointer;
  }

  .hamburger-icon-bars {
    position: relative;
    /* top: 128px;
    left: 48px; */
    width: 24px;
    height: 2px;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .hamburger-icon-bars:after,
  .hamburger-icon-bars:before {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background: inherit;
  }

  .hamburger-icon-bars:before {
    top: -8px;
  }

  .hamburger-icon-bars:after {
    bottom: -8px;
  }

  #mobile-nav:checked + .hamburger-icon {
    box-shadow:
      0 0 0 100vw #252525,
      0 0 0 100vh #252525;
    border-radius: 0;
    background: #252525;
  }

  #mobile-nav:checked + .hamburger-icon .hamburger-icon-bars {
    transform: rotate(45deg);
  }

  #mobile-nav:checked + .hamburger-icon .hamburger-icon-bars:after {
    transform: rotate(90deg);
    bottom: 0;
  }

  #mobile-nav:checked + .hamburger-icon .hamburger-icon-bars:before {
    transform: rotate(90deg);
    top: 0;
  }

  #mobile-nav:checked + .hamburger-icon + .hamburger-menu {
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: 250;
    padding: 0 16% 0 12%;
    margin-top: 160px;
    overflow: unset;
    bottom: 0;
  }

  .hamburger-menu {
    position: fixed;
    width: 0;
    height: 0;
    top: -100%;
    left: 100%;
    transform: translate(-100%, 100%);
    opacity: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: 0.2s 0s ease-in-out;
    transition: 0.2s 0s ease-in-out;
    overflow: hidden;
  }

  .progress-bar-bg {
    background-image: linear-gradient(
      to right,
      var(--bg-progress),
      var(--bg-progress) var(--bar-percent),
      transparent var(--bar-percent),
      transparent
    );
    opacity: 0.33;
  }

  .rendered-markdown {
    a {
      text-decoration-line: underline;
    }

    sup a,
    .data-footnote-backref {
      color: var(--fg-accent);
    }

    p {
      margin-bottom: 24px;
    }

    strong {
      font-weight: bold;
    }

    blockquote {
      border-left: 0.5rem solid var(--border-default);
      color: var(--fg-muted);
      font-style: italic;
      margin: 24px 0;
      padding: 0 24px;
      position: relative;
      quotes: "\\201C" "\\201D" "\\2018" "\\2019";
    }

    h1,
    h2,
    h3 {
      line-height: 1.1;
      margin-top: 1.5rem;
    }

    h2 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 8px;
      font-weight: bold;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 0.25rem;
    }

    hr {
      border: 1px solid var(--border-default);
      margin: 39px auto 39px;
      width: 75%;
    }

    img {
      height: 1rem;
      width: auto;
    }

    p:last-child {
      margin-bottom: 0;
    }

    ol {
      list-style-type: decimal;
      padding-left: 1.4rem;
    }

    ul {
      list-style-type: none;
      padding-left: 1.4rem;
    }

    li {
      line-height: 28px;
      margin-bottom: 1.4rem;
    }

    .footnotes {
      box-shadow: 0px -1px var(--border-default);
      padding-top: 2rem;
      font-size: 0.875rem;

      ol {
        list-style-type: none;
        position: relative;
      }

      li {
        line-height: 1.5rem;
      }

      li::before {
        display: block;
        content: counter(
          list-item
        ); /* list item is the default user-agent counter and doesn't require defining! It'll match the expected li value in an ol */
        position: absolute;
        right: calc(100% + 0.25em);
        text-align: right;
        font-size: 0.6875em;
      }
    }
  }

  .select-background-image {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23054a93' height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false'><path d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z'></path></svg>");
    background-position-x: calc(100% - 8px);
    background-position-y: 8px;
    background-repeat: no-repeat;
  }

  .still-border {
    border: solid 9px var(--border-default);
    margin-bottom: 4.57px;
    background-color: var(--border-default);
  }

  .poster-border {
    transform: translateZ(0);
    border: solid 8px var(--border-default);
    clip-path: polygon(
      3% 0,
      7% 1%,
      11% 0%,
      16% 2%,
      20% 0,
      23% 2%,
      28% 2%,
      32% 1%,
      35% 1%,
      39% 3%,
      41% 1%,
      45% 0%,
      47% 2%,
      50% 2%,
      53% 0,
      58% 2%,
      60% 2%,
      63% 1%,
      65% 0%,
      67% 2%,
      69% 2%,
      73% 1%,
      76% 1%,
      79% 0,
      82% 1%,
      85% 0,
      87% 1%,
      89% 0,
      92% 1%,
      96% 0,
      98% 3%,
      99% 3%,
      99% 6%,
      100% 11%,
      98% 15%,
      100% 21%,
      99% 28%,
      100% 32%,
      99% 35%,
      99% 40%,
      100% 43%,
      99% 48%,
      100% 53%,
      100% 57%,
      99% 60%,
      100% 64%,
      100% 68%,
      99% 72%,
      100% 75%,
      100% 79%,
      99% 83%,
      100% 86%,
      100% 90%,
      99% 94%,
      99% 98%,
      95% 99%,
      92% 99%,
      89% 100%,
      86% 99%,
      83% 100%,
      77% 99%,
      72% 100%,
      66% 98%,
      62% 100%,
      59% 99%,
      54% 99%,
      49% 100%,
      46% 98%,
      43% 100%,
      40% 98%,
      38% 100%,
      35% 99%,
      31% 100%,
      28% 99%,
      25% 99%,
      22% 100%,
      19% 99%,
      16% 100%,
      13% 99%,
      10% 99%,
      7% 100%,
      4% 99%,
      2% 97%,
      1% 97%,
      0% 94%,
      1% 89%,
      0% 84%,
      1% 81%,
      0 76%,
      0 71%,
      1% 66%,
      0% 64%,
      0% 61%,
      0% 59%,
      1% 54%,
      0% 49%,
      1% 45%,
      0% 40%,
      1% 37%,
      0% 34%,
      1% 29%,
      0% 23%,
      2% 20%,
      1% 17%,
      1% 13%,
      0 10%,
      1% 6%,
      1% 3%
    );
  }
}

@layer utilities {
  .image-filter {
    filter: var(--image-filter);
  }

  .safari-border-radius-fix {
    transform: translateZ(0);
  }

  .items-inherit {
    align-items: inherit;
  }

  .justify-items-inherit {
    justify-items: inherit;
  }
}
