@import "tailwindcss" source("../");

@theme {
  --background-color-*: initial;
  --background-color-accent: var(--bg-accent);
  --background-color-canvas: var(--bg-canvas);
  --background-color-default: var(--bg-default);
  --background-color-footer: var(--bg-footer);
  --background-color-group: var(--bg-group);
  --background-color-hover: var(--bg-hover);
  --background-color-inverse: var(--bg-inverse);
  --background-color-stripe: var(--bg-stripe);
  --background-color-subtle: var(--bg-subtle);
  --background-color-unreviewed: var(--bg-unreviewed);
  --background-color-unset: unset;

  --border-color-*: initial;
  --border-color-default: var(--border-default);

  --color-*: initial;
  --color-accent: var(--fg-accent);
  --color-border: var(--border-default);
  --color-default: var(--fg-default);
  --color-inherit: inherit;
  --color-inverse: var(--fg-inverse);
  --color-inverse-subtle: var(--fg-inverse-subtle);
  --color-muted: var(--fg-muted);
  --color-progress: var(--fg-progress);
  --color-subtle: var(--fg-subtle);

  --tracking-*: initial;
  --tracking-normal: 0;
  --tracking-prose: 0.3px;
  --tracking-serif-wide: 0.6px;
  --tracking-wide: 0.8px;
  --tracking-wider: 1.1px;
  --tracking-widest: 2px;

  --breakpoint-*: initial;
  --breakpoint-desktop: 1280px;
  --breakpoint-max: 1696px;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-landscape: 1024px;

  --aspect-poster: 1 / 1.5;

  --shadow-all: 0 0 0 1px var(--border-default);
  --shadow-bottom: 0px 1px var(--border-default);
  --shadow-hover: 0 0 1px 1px var(--border-default);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --text-2_5xl: 1.625rem;
  --text-md: 1.125rem;
  --text-md--line-height: 1.5rem;
  --text-xxs: 0.6875rem;

  --container-button: 430px;
  --container-popout: calc(64px + 39rem);
  --container-prose: 39rem;
  --container-unset: unset;

  --padding-container: var(--container-padding);
  --max-width-prose: 39rem;

  --width-list-item-poster: var(--list-item-poster-width);
}

@layer base {
  :root {
    --bg-accent: #a52422;
    --bg-canvas: #dfdfdf;
    --bg-default: #fff;
    --bg-footer: #252525;
    --bg-hover: #f7f5f3;
    --bg-inverse: rgb(0 0 0 / 75%);
    --bg-progress: #14bd41;
    --bg-stripe: #fcfcfc;
    --bg-unreviewed: #fcfcfc;
    --bg-group: #ededed;
    --bg-subtle: #fafafa;
    --border-default: #e9e7e0;
    --fg-accent: #a52422;
    --fg-default: #252525;
    --fg-inverse: #fff;
    --fg-inverse-subtle: #b0b0b0;
    --fg-muted: rgb(0 0 0 / 65%);
    --fg-subtle: #575757;
    --image-filter: initial;
    --container-padding: 8%;
    --search-dialog-padding: 8%;
    --font-sans: "ArgentumSans";
    --font-serif: "FrankRuhlLibre";
    --list-item-poster-width: 64px;

    text-size-adjust: none;
  }

  body {
    font-family:
      FrankRuhlLibre, "Iowan Old Style", Georgia, Cambria, "Times New Roman",
      Times, serif;
    font-feature-settings: "kern", "liga", "clig", "calt", "ss06", "lnum";
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
  }

  img {
    filter: var(--image-filter);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-accent: #a52422;
      --bg-canvas: #484745;
      --bg-default: #322f2f;
      --bg-hover: #3c393a;
      --bg-inverse: #322f2f;
      --bg-progress: #379634;
      --bg-group: #464646;
      --bg-stripe: #3c393a;
      --bg-unreviewed: #3c393a;
      --bg-subtle: #373434;
      --border-default: #484745;
      --fg-accent: #c86666;
      --fg-default: rgb(255 255 255 / 75%);
      --fg-muted: rgb(255 255 255 / 65%);
      --fg-subtle: rgb(255 255 255 / 60%);
      --image-filter: brightness(0.8) contrast(1);
    }
  }

  @media (width >= theme(--breakpoint-tablet)) {
    :root {
      --container-padding: 48px;
      --search-dialog-padding: 24px;
      --list-item-poster-width: 76px;
    }
  }

  @media (width >= theme(--breakpoint-desktop)) {
    :root {
      --container-padding: 80px;
      --search-dialog-padding: 32px;
      --list-item-poster-width: 80px;
    }
  }

  @font-face {
    font-display: swap;
    font-family: ArgentumSans;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/ArgentumSans/ArgentumSans-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: ArgentumSans;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/ArgentumSans/ArgentumSans-Medium.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: ArgentumSans;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/ArgentumSans/ArgentumSans-Light.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: ArgentumSans;
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/ArgentumSans/ArgentumSans-Regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: FrankRuhlLibre;
    font-style: normal;
    font-weight: 300 900;
    src: url("/fonts/Frank-Ruhl-Libre/Frank-Ruhl-Libre_latin_300 900_normal.woff2")
      format("woff2");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

@utility bg-progress-bar {
  background-image: linear-gradient(
    to right,
    var(--bg-progress),
    var(--bg-progress) var(--bar-percent),
    transparent var(--bar-percent),
    transparent
  );
  opacity: 0.33;
}

@utility leading-normal {
  &.rendered-markdown {
    p {
      margin-bottom: 21px;
    }
  }
}

@utility select-background-image {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23054a93' height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false'><path d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z'></path></svg>");
  background-position-x: calc(100% - 8px);
  background-position-y: 8px;
  background-repeat: no-repeat;
}

@utility safari-border-radius-fix {
  transform: translateZ(0);
}

@utility scrollbar-hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

@layer components {
  .rendered-markdown {
    a {
      border-bottom: solid 1px var(--bg-accent);
      padding-right: 1px;
      transition: all 150ms ease-out;
    }

    sup a,
    .data-footnote-backref {
      color: var(--fg-accent);
    }

    sup a {
      border: solid 1px var(--border-default);
      border-radius: 3em;
      margin: 0 0.3em;
      padding: 0.2em 0.6em;
      position: relative;
      top: 0.3em;
    }

    a:hover {
      background-color: var(--bg-accent);
      color: var(--fg-inverse);
      transition: all 80ms ease-in;
    }

    sup a:hover {
      border-color: var(--fg-accent);
    }

    p {
      margin-bottom: 24px;
    }

    strong {
      font-weight: bold;
    }

    blockquote {
      border-left: 0.5rem solid var(--border-default);
      color: var(--fg-muted);
      font-style: italic;
      margin: 24px 0;
      padding: 0 24px;
      position: relative;
      quotes: "\\201C" "\\201D" "\\2018" "\\2019";
    }

    h1,
    h2,
    h3 {
      line-height: 1.1;
      margin-top: 1.5rem;
    }

    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 8px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }

    hr {
      border: 1px solid var(--border-default);
      margin: 39px auto;
      width: 75%;
    }

    img {
      height: 1.125rem;
      margin-bottom: 6px;
      width: auto;
    }

    p:last-child {
      margin-bottom: 0;
    }

    ol {
      list-style-type: decimal;
      padding-left: 1.4rem;
    }

    ul {
      list-style-type: none;
      padding-left: 1.4rem;
    }

    > ul {
      padding-left: 0;
    }

    li {
      line-height: 28px;
      margin-bottom: 1.4rem;
    }

    .footnotes {
      box-shadow: 0 -1px var(--border-default);
      font-size: 1rem;
      margin-top: 3.5rem;
      padding-top: 2rem;

      h2 {
        margin-bottom: 1.5rem;
      }

      ol {
        list-style-type: none;
        position: relative;
      }

      li {
        font-family: var(--font-sans);
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.25rem;
      }

      li::before {
        content: counter(list-item);
        display: block;
        font-family: var(--font-serif);
        position: absolute;
        right: calc(100% + 0.25em);
        text-align: right;
      }
    }
  }

  #pagefind__search {
    --cancel-space: 5rem;
    --search-dialog-padding: 1rem;

    display: contents;

    .pagefind-ui {
      display: contents;
    }

    .pagefind-ui__button {
      background-color: var(--bg-canvas);
      border-radius: unset;
      color: var(--fg-default);
      display: block;
      font-family: var(--font-sans);
      font-size: 1rem;
      font-size: 12px;
      font-weight: 500;
      height: 2.5rem;
      letter-spacing: 0.8px;
      margin: 1rem auto;
      max-width: 430px;
      text-transform: uppercase;
      width: calc(100% - 2 * var(--search-dialog-padding));

      &:focus {
        outline: 1px solid var(--fg-accent);
        outline-offset: -2px;
      }

      &:hover {
        background-color: var(--bg-inverse);
        border-color: inherit;
        color: var(--fg-inverse);
      }
    }

    .pagefind-ui__drawer {
      outline-offset: -2px;
      overflow-y: auto;
      overscroll-behavior: contain;

      &:focus {
        outline: 1px solid var(--fg-accent);
      }
    }

    .pagefind-ui__form {
      display: contents;

      &::after {
        background-color: var(--border-default);
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: calc(3.5rem + 1px);
      }

      &::before {
        background-color: var(--fg-default);
        content: "";
        display: block;
        height: 20px;
        left: 1rem;
        margin: 18px 0;
        mask-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23000000'/%3E%3C/svg%3E%0A");
        mask-size: 100%;
        opacity: 0.7;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 20px;
        z-index: 10;
      }
    }

    .pagefind-ui__hidden {
      display: none !important;
    }

    .pagefind-ui__message {
      color: var(--fg-subtle);
      font-family: var(--font-sans);
      font-size: 0.75rem;
      font-weight: normal;
      padding: 1rem var(--search-dialog-padding);
    }

    .pagefind-ui__result {
      border-top: solid 1px var(--border-default);
      column-gap: 1.5rem;
      display: grid;
      grid-template-columns: min(25%, 80px) 1fr;
      padding: 1.5rem var(--search-dialog-padding);

      &:focus-within {
        background-color: var(--bg-subtle);
        outline: 1px solid var(--fg-accent);
        outline-offset: -2px;
      }

      &:last-of-type {
        border-bottom: solid 1px var(--border-default);
      }
    }

    .pagefind-ui__result-excerpt {
      color: var(--fg-default);
      font-family: var(--font-serif);
      font-size: 0.875rem;
      font-weight: 400;
      margin-top: 0.25rem;
    }

    .pagefind-ui__result-image {
      margin: 0 auto;
    }

    .pagefind-ui__result-link {
      color: var(--fg-accent);
    }

    .pagefind-ui__result-thumb {
      width: 100%;
    }

    .pagefind-ui__result-title {
      font-family: var(--font-sans);
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.25rem;
    }

    .pagefind-ui__search-clear {
      background-color: transparent;
      background-color: var(--bg-subtle);
      border-radius: 50%;
      height: 24px;
      inset-inline-end: var(--cancel-space);
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: calc(var(--search-dialog-padding) + var(--cancel-space) + 2px);
      top: 1rem;
      width: 24px;

      &::before {
        background-color: var(--fg-subtle);
        content: "";
        display: block;
        display: flex;
        height: 100%;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m13.41 12 6.3-6.29a1 1 0 1 0-1.42-1.42L12 10.59l-6.29-6.3a1 1 0 0 0-1.42 1.42l6.3 6.29-6.3 6.29a1 1 0 0 0 .33 1.64 1 1 0 0 0 1.09-.22l6.29-6.3 6.29 6.3a1 1 0 0 0 1.64-.33 1 1 0 0 0-.22-1.09L13.41 12Z'/%3E%3C/svg%3E")
          center / 50% no-repeat;
        padding: 0;
        right: 0;
        width: 100%;
      }

      &:focus {
        outline: 1px solid var(--fg-accent);
      }
    }

    .pagefind-ui__search-input {
      align-items: center;
      border: none;
      display: flex;
      flex-shrink: 0;
      font-family: var(--font-serif);
      font-size: 1.125rem;
      font-weight: normal;
      height: 3.5rem;
      left: 0;
      outline: none;
      padding: 0 70px 0 54px;
      width: calc(100% - var(--cancel-space));

      &::placeholder {
        color: --alpha(var(--fg-subtle) / 50%);
        opacity: 1;
      }
    }

    .pagefind-ui__suppressed {
      opacity: 0;
      pointer-events: none;
    }
  }
}
