name: build & deploy
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: setup npm
        run: |
          ./npm_use.sh &&
          npm --version &&
          npm list -g --depth 0

      - name: get astro cache
        id: astro-cache-build
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: node_modules/.astro
          key: ${{ runner.os }}-astro-cache-v2-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-astro-cache-v2-

      - name: get content cache
        id: content-cache-build
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: .cache
          key: ${{ runner.os }}-content-cache-v1-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-content-cache-v1-

      - name: install dependencies
        run: npm install

      - name: build
        run: npm run build

      - name: add indexNow key
        env:
          INDEXNOW_KEY: ${{ secrets.INDEXNOW_KEY }}
        run: echo $INDEXNOW_KEY > dist/$INDEXNOW_KEY.txt

      - name: deploy
        uses: nwtgck/actions-netlify@4cbaf4c08f1a7bfa537d6113472ef4424e4eb654 # v3.0
        with:
          publish-dir: "./dist"
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: true
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          timeout-minutes: 5
