name: format & lint
permissions:
  contents: read

on:
  pull_request:
    branches: [main]

jobs:
  format-and-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: setup npm
        run: |
          ./npm_use.sh &&
          npm --version &&
          npm list -g --depth 0

      - name: install dependencies
        run: npm ci

      - name: knip
        run: npm run knip

      - name: prettier
        run: npm run format

      - name: type-check
        run: npm run check

      - name: eslint
        run: npm run lint

      - name: stylelint
        run: npm run stylelint

      - name: cspell
        run: npm run lint:spelling
