name: test

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: setup npm
        run: |
          ./npm_use.sh &&
          npm --version &&
          npm list -g --depth 0

      - name: install dependencies
        run: npm ci

      - name: vitest
        run: npm test
