name: test
permissions:
  contents: read

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: setup npm
        run: |
          ./npm_use.sh &&
          npm --version &&
          npm list -g --depth 0

      - name: install dependencies
        run: npm ci

      - name: vitest
        run: npm test
